
.center {
    margin: auto    ;
    margin-bottom: 10px;
    width: 50%;
    border: 3px solid rgb(240, 243, 240);
    padding: 10px;
    height: 130px;
    background-color: white;
    border-radius: 10px;

  }
  .reply {
    display: flex;
    justify-content: flex-end; 

    margin-right: 8px;   
    margin-bottom: 10px; 
    padding: 10px;
    margin-left: 230px;
       
  }
   .blue{
    color: rgb(114, 114, 241);
    font-size: 14pt;
    padding-top: 4px;
   }

  
  
   .image{
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 0px;
    margin-right: 10px;
    padding-top: 0px;
    height: 40px;
    
   }
   
   body{
       margin : 60px;
   }
   .attribution {
       font-size: 11px; text-align: center; 
      }
      .attribution a { 
          color: hsl(228, 45%, 44%); 
      } 
 
     
     
     .btn{     
       
       justify-content: flex-start;
       width : 30px;
       background-color:hsl(228, 33%, 97%); 
       height: 100px;
       margin-left: 20px; 
       border-radius: 10px;     


     } 
     
      .row {
        display: flex;
        align-items: flex-start;
        margin-top: -50px;
        padding-top: -50px;
       
    }
      
      .name {
        margin-right: 10px; 
        font-weight: bold;
        font-family: 'Rubik', sans-serif;
        color: rgba(0, 0, 0, 0.67);
      }
      
      .time {
        font-size: 14px; 
        color: gray; 
      }
      
      .click{
        margin-left: 8px;         
        padding: 10px;
        padding-left: 8px;
        height: 15px; 
      }
      .text{
      padding-top: 20px;
       margin-left: 90px;
       margin-top: -70px;
       color: rgba(27, 25, 25, 0.55);
       font-size: 13pt;
       font-family: 'Rubik', sans-serif;
       
      }
      .last {
        display: flex;
       justify-content: space-between;
       
      }
      .send{
        margin-top: 20px;
       background-color: rgb(109, 109, 239);
        color : white;
        height: 40px;
        width: 100px;
        font-size: 20pt;
        border-radius: 10px;
        border: hidden;
      }
      .comment{ 
       display: flex;       
       margin-top: 20px;
       margin-bottom: 10px;
       height: 80px;
        width: 650px;
       border: 2px solid rgba(211, 211, 211, 0.33);
       color: gray;
       font-size: 16px;     
       
       
      }
      .lastpic{
        margin-top: 20px;
        margin-bottom: 50px;
        height: 40px;
      }
      .msg{
         margin-top: 20px;
         margin-bottom: 20px;

      }
      body {
        background-color: hsl(228, 33%, 97%);
      }
      .push{

        margin-left: 150px;
        margin-right: 50px;
      }
      .delete{
        color: hsl(358, 79%, 66%);
        font-size: 14pt;
      }
      .deleteimage{
        height: 15px;
        margin-right: 10px;
      }
      .plus{
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10px;
        
      }
      .minus{
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 10px;
        
      }
      .num{
        margin-left: 10px;
      }
      .textcomment{
        margin-left: 20px;
      }